$black: #000000;
$darkGray: #1d1d1d;
$gray: #dddddd;
$lightGray: #a3a3a3;
$primary: #ff0000;
$white: #ffffff;

$fontSizeSmall: 13px;
$fontSizeDefault: 14px;
$fontSizeMedium: 16px;
$fontSizeNormal: 18px;
$fontSizeLarge: 20px;
$fontSizeExtraLarge: 40px;

$fontWeightDefault: 400;
$fontWeightMedium: 600;
$fontWeightBold: 700;
